<!doctype html>
<html>
  <head>
    <title>Solidarity Email Fixer</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./styles.css">
  </head>
  <body>
    <h3 class='failure'>Unable to extract html. Did you upload an .eml file?</h3>
    <a href='/'>Try again</a>
  </body>
</html>
