<!doctype html>
<html>
  <head>
    <title>Solidarity Email Fixer</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./styles.css">
  </head>
  <body>
    <h3>Mexico Solidarity Newsletter Email Fixer</h3>
    <form id="user-details" action="/upload" method="POST" enctype="multipart/form-data">
      <div>
        <h4>1.&nbsp;</h4>
        <label for="file">Select .eml file: </label>
        <input type="file" class="file-input" id="file" name="file" accept=".eml" required>
      </div>
      <div>
        <h4>2.&nbsp;</h4>
        <label for="submit">Extract and download html: </label>
        <button type="submit" id="submit">Extract</button>
      </div>
    </form>
  </body>
</html>
